@font-face {
	font-family:'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular_gdi.eot');
	src: url('../fonts/MyriadPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Regular_gdi.woff') format('woff'),
		url('../fonts/MyriadPro-Regular_gdi.ttf') format('truetype'),
		url('../fonts/MyriadPro-Regular_gdi.otf') format('opentype'),
		url('../fonts/MyriadPro-Regular_gdi.svg#MyriadPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}


html,body {overflow-x:hidden;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0!important; 
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	font-family: 'Ubuntu', sans-serif;
} 
*{outline:0!important}
.pl0{padding-left:0!important}
.pr0{padding-right:0!important}
.pt70{padding-top:70px;}
.m15{margin:15px;}
.mb50{margin-bottom:50px;}
.mt10{margin-top:10px;}
.mt140{margin-top:140px;}
a{color:#f06905}


/*Header*/
.navbar-transparent .navbar-nav > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f06905;
    font-size: 16px;
    padding: 0 5px;
}
.navbar-transparent .navbar-nav > li > a:hover,.navbar-transparent .navbar-nav > li > a:focus {
    color: #000; 
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus {
    background:none;
    color: #000;
}
.carousel-indicators{display:none;}
.phone_div {
display: inline;
margin-right: 35px;
float: left;
}
.phone_div > img {
    float: left;
    margin-right: 15px;
}
.p_d_text {
    margin-top: 5px;
}

header {
    border-bottom: 3px solid #fff;
    left: 0;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 2;
}
.top_right {
    position: relative;
    right: 5px; 
}
.navbar {
    margin-bottom: 0;
    margin-top: 36px;
}
.home_top {
    margin-top: 73px;
} 
.carousel.slide::before {
    border-top: 1px solid #000;
    content: " ";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 85%;
    z-index: 1;
}
.left.carousel-control > img {
    left: 34%;
    position: absolute;
    top: 44%;
}
.right.carousel-control > img {
    right: 34%;
    position: absolute;
    top: 44%;
}
.carousel-control.left,.carousel-control.right{background:none;}
.carousel-caption h3{color: #000000;font-size: 45px;text-shadow: none;text-align:left; }
.carousel-caption p {
    color: #f06905;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    text-shadow: none;
}
/*.carousel-caption {
    left: 20%;
    padding-bottom: 30px;
    right: 20%;
    top: 32%;
}*/
.carousel-caption {
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px double #fff;
    height: auto;
    left: 15%;
    padding: 20px;
    top: 39%;
    width: 525px;
	bottom:auto;
}
.s_b_stick {
    bottom: 0;
    left: 15%;
    position: absolute;
    z-index: 3;
}

.s_b_stick img {
    float: left;
    margin-left: -8px;
}

.home_slogan {
    font-size: 22px;
    font-style: italic;
    margin: 8px 0;
    text-align: center;
}
.box_div {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
.box_div a,.box_div a:hover{
    color:#333333;
	text-decoration:none;
}
.box_div_title { 
    font-size: 21px;
    font-weight: bold;
}
.box_div_sub_title { 
    font-size: 20px;
}
.box_ul > li:nth-child(2n+1) {
    background-color: #f1f1f1;
}                            
.box_ul > li {
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
	/* font-weight: 500;*/
    padding: 10px 5px;
	 list-style: outside none none;
}
.o_line {
    background-color: #f06905;
    display: inline-block;
    height: 1px;
    margin: 30px 0;
    width: 100%;
}
/*two-box*/

.home_two_box {
    border-radius: 7px;
    overflow: hidden;
}
.two_box_img {
    float: left;
    height: 278px;
    max-height: 100%;
}
.bg_o {background-color: #d97c36;
    background-image: url("../img/home_two_bg_o.png");}
.bg_g {background-color: #666666;
    background-image: url("../img/home_two_bg_g.png");}
.home_two_text {
    background-position: right bottom;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    height: 278px;
    max-height: 100%;
    padding: 5px 10px;
    text-align: center;
}
.two_text_title {
    font-size: 22px;
}
.two_text_sub_title {
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
}
.two_text_line_title {
    font-size: 15px;
} 
.two_text_sub_desc {
    font-size: 15px;
    line-height: 16px;
}
.two_box_btn {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    color: #de9862;
    display: inline-block;
    font-size: 13px;
    margin: 10px auto 10px 9px;
    padding: 1px 12px;
}
.line_title {
    display: table;
    margin: 18px 0;
    padding: 0 10px;
    white-space: nowrap;
}
.line_title:before,
.line_title:after {
  border-top: 1px solid #fff;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.7em;
  width: 45%;
}
.line_title:before {
  right: 1.5%;
}
.line_title:after {
  left: 1.5%;
}

.parallax_img {
    background-attachment: fixed;
    background-image: url("../img/parallax_bg.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat:no-repeat;
}

.b_slogan {
    font-size: 80px;
    margin-top: 90px;
}
.b_slogan::after {
    border-bottom: 1px solid #000;
    content: "";
    left: 0;
    position: absolute;
    top: 52%;
    width: 100%;
}
.b_s_slogan {
    color: #f06905;
    font-size: 24px;
    margin-bottom: 120px;
    margin-top: 55px;
}
.h_3_title {
    color: #f06905;
    font-size: 27px;
    margin-bottom: 30px;
}
.testimonial_title {
    color: #f06905;
    font-size: 30px;
    margin-bottom: 25px;
}
.square_list li {
    font-size: 14px;
    margin-bottom: 15px; 
    text-indent: -0.7em;
}
.square_list { 
    min-height: 280px;
	list-style:none;
}

.square_list a {
    color:#414141;
}
.square_list li::before {
    color: #f59b58;
    content: "⬛";
    font-size: 14px;
	margin-right:15px;
	margin-left:15px;
}
.animation_border {
    border: 1px dashed #f06905;
    display: block; 
    width: 100%;
}
.animation_border > a > img {
    display: block;
    margin: 0 auto;
    padding: 127px 0;
}
.testi_text {
    background-color: #f7f7f7;
    padding: 38px 30px;
}
.owl-controls {
    display: none!important;
}
/*Footer*/
.footer {
    background-color: #d6d6d6;
    background-image: url("../img/footer_bg.png");
    background-position: center center;
    padding-bottom: 60px;
    padding-top: 47px;
    margin-top: 30px;
}
.footer_title {
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 22px;
    margin-bottom: 22px; 
    padding-bottom: 7px;
}
.footer_menu > li {
    float: left;
    list-style: outside none none;
    margin-bottom: 8px;
    width: 33%;
}
.footer a {
    color: #000; 
    font-size: 18px;
}
address p {
    color: #000;
    padding: 0 12px;
}
.social > a:nth-child(1) {
    margin-left: 38px;
}
.social img {
    margin-left: 16px;
}
/*page*/
.page_title {
    color: #f06905;
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 15px auto 30px;
    text-align: center;
}
.page_desc {
    padding: 10px 25px;
}
.page_sub_title {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}
.space {
    display: inline-block;
    height: 50px;
    width: 100%;
}
.ser_st_tab {
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
	border-bottom:3px double #f3f3f3;
	padding-bottom:10px;
}
.ser_tab_active {
    text-shadow: 0px 1px 0px #000;
    color: #1f496d;
    text-decoration: none!important;
    font-weight: bold;
}
.ref_title {
    color: #f06905;
    font-weight: bold;
	margin-bottom:30px;
}
.ref_img {
    display: block;
    margin: 0 auto;
}
.ref_sub_title {
    min-height: 70px;
    padding: 10px 0;
}
.social_sub {
    font-weight: bold;
    text-align: center;
}
.social_p_title {
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #000;
    padding: 10px 0 5px;
    display: inline-block;
    margin-bottom: 7px;
}
.social_row {
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
}
.ik_img_div img {
    margin: 0 auto;
}
.conta_title {
    font-size: 17px;
    font-weight: 500;
    margin: 25px auto;
}
.c_item {
    margin: 30px 0;
}
.ebe_c_text{padding-top:7%}
.breadcrumb {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(240, 105, 5, 0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

/* Effect 13: three circles */
.cl-effect-13 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-13 a::before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
	color: #000;
	text-shadow: 10px 0 #000, -10px 0 #000;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
	color: #ba7700;
}


/* Effect 5: same word slide in */
.cl-effect-5 a {
	overflow: hidden;
	padding: 0 4px;
	height: 1.2em;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
 
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* Effect 5: same word slide in and border bottom */


.page_desc ul{
	
	margin-left:50px;
}
.anno_list p {
    border-bottom: 1px dashed #ccc;
    padding: 10px 20px;
    background-color: #f5f5f5;
    margin: 0;
}
.anno_list p:nth-child(2n+1) {
   background-color: #f1f1f1;
}
.dusunce_more {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
		
.dusunce_tabs{
	margin-bottom:30px; 
}

.dusunce_tabs li a {
		background-color: #DFDFDF;
		font-size: 22px;
		color: #363636;
		border: 0!important;
		border-radius: 0!important;
    padding: 15px 0;
}   
.dusunce_tabs li a:hover { 
    background-color: #F94B26;
    color: #fff;
}   
.dusunce_tabs li a:focus { 
    background-color: #F94B26!important;
    color: fff!important;
}    

.dusunce_tabs li.active a {
    background-color: #F94B26;
    font-size: 22px;
    border: 0!important;
    border-radius: 0!important;
    padding: 15px 0;
    color: #fff;
    cursor: pointer!important;
}
.dusunce_tabs li.active a:hover {
    background-color: #F94B26; 
    color: #fff; 
}

.top_space{margin-top:140px}






















/*Responsive*/
@media (min-width: 1200px) {
 
}
 
@media (min-width: 992px) and (max-width: 1199px) {
.social > a:nth-child(1),.social img {margin:0;}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.navbar-transparent .navbar-nav > li > a {
    font-size: 15px;
    padding: 0 2px;
}
 
.right.carousel-control > img,.left.carousel-control > img {
    position: absolute;
    width: 50%;
}
.two_text_sub_title {
    font-size: 13px;
    font-style: italic;
    line-height: 14px;
}
.two_text_sub_desc {
    font-size: 13px;
    line-height: 14px;
}
.two_text_title {
    font-size: 17px;
    line-height: 22px;
}
.line_title { 
    margin: 13px 0; 
}
.two_box_btn {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    color: #de9862;
    display: block;
    font-size: 13px;
    padding: 0 12px;
    width: 101%;
}
.footer a { 
    font-size: 16px;
}

.carousel-caption h3 { 
    font-size: 40px; 
}
.carousel-caption p { 
    font-size: 55px; 
} 
.s_b_stick { 
    width: 50%; 
}
.parallax_img { 	
    background-position: center center; 
    background-size: 100% 45%;
}
.carousel-caption {  
    left: 11%;  
    width: 490px;
}
 
  
}

@media (min-width: 768px) and (max-width: 991px) {
.cl-effect-5 .navbar-nav > li > a {  
    font-size: 16px;
    height: 29px;
    line-height: 24px;
    padding: 0 13px !important;
}

.carousel-caption { 
    left: 11%;
    top: 36%;
    width: 365px;
}
.carousel-caption { 
   	z-index:0
}
.carousel-caption h3 { 
    font-size: 30px; 
}	
.carousel-caption p {
    font-size: 40px;
}	
.s_b_stick {
    display: inline-block;
    width: 40%;
    z-index: 0;
}
.s_b_stick img {
    display: inline-block;
    margin-left: -10px;
    margin-bottom: -5px;
    width: 50%;
	float:none;
}


.right.carousel-control > img,.left.carousel-control > img { 
    width: 50%;
}
.top_right {
    position: relative;
    right: 140px;
    top: 40px;
}



/*Navbar*/ 
header { 
    position: relative; 
}
.navbar {
	margin: 0;
	position: absolute;
	right: 25px;
	top: -73px;
	width: 100%; 
}
.home_top {
	margin-top: 30px;
}
 
.logo_img {
	position: relative;
	z-index: 9;
}
.box_div,.home_two_box { 
	margin-bottom: 20px; 
}
.b_slogan {
	font-size: 60px; 
}
.b_s_slogan { 
	font-size: 25px; 
} 
.b_s_slogan {
    font-size: 25px;
    margin-bottom: 90px;
}
.footer_menu > li { 
    width: 50%;
}
address p { 
    padding: 0;
}
.social > a:nth-child(1), .social img {
    margin: 0;
    padding: 0;
    width: 30%;
}
.footer {  
    background-position: left center;
    background-size: cover;  
}





.navbar-toggle {background-color: #f94b26;}
.navbar-transparent .navbar-toggle:hover, .navbar-transparent .navbar-toggle:focus {
background-color: #f94b26;}
.navbar-transparent .navbar-collapse.collapsing .navbar-nav > li > a, .navbar-transparent .navbar-form.collapsing .navbar-nav > li > a, .navbar-transparent .navbar-collapse.in .navbar-nav > li > a, .navbar-transparent .navbar-form.in .navbar-nav > li > a { 
    color: #f06905;

}
/*.navbar-collapse {
    background-color: #fff;
    position: absolute;
    width: 100%;
	border: 2px solid rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.125)!important;
	margin-top:25px;
} */
.navbar-collapse {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.125) !important;
    float: right;
    margin-top: 25px;
    width: 25%;
}

.nav.navbar-nav li {
    margin: 0 !important;
    padding: 0 !important;
}
.nav.navbar-nav a {
    border-bottom: 1px solid #ddd;
    padding: 5px 20px!important;
}
.nav.navbar-nav a:hover {
    color: #000 !important;
}

/*Navbar rez*/ 
 .navbar-header {
     float: none;
 }
 .navbar-toggle {
     display: block;
 }
 .navbar-collapse.collapse {
     display: none!important;
 }
 .navbar-nav {
     float: none!important;
     margin: 0 -15px;
 }
 
 .navbar-nav>li {
     float: none;
 }
 .navbar-nav>li>a {
     padding-top: 10px;
     padding-bottom: 10px;
 }
  .collapse.in{
  	display:block !important;
  } 	
	
.top_space{margin-top:30px}
 
}

@media (min-width: 580px) and (max-width: 767px) { 
 
}
 
@media (min-width: 430px) and (max-width: 579px) { 
 
}

@media (min-width: 320px) and (max-width: 429px) { 
 
}

@media(max-width: 767px) {
.top_space{margin-top:30px}
.cl-effect-5 .navbar-nav > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f06905;
    font-size: 16px;
    height: 29px;
    line-height: 24px;
    padding: 0 13px !important;
}
.navbar {margin: 0;}
.logo_img{display:block;margin:0 auto;}
header {position: relative; } 
.navbar-toggle {background-color: #f94b26;right: 20%;top: 50%;}
.navbar-transparent .navbar-toggle:hover, .navbar-transparent .navbar-toggle:focus {
background-color: #f94b26;}
.navbar-transparent .navbar-collapse.collapsing .navbar-nav > li > a, .navbar-transparent .navbar-form.collapsing .navbar-nav > li > a, .navbar-transparent .navbar-collapse.in .navbar-nav > li > a, .navbar-transparent .navbar-form.in .navbar-nav > li > a { 
    color: #f06905;
}
.nav.navbar-nav a {
    border-bottom: 1px solid #ddd;
    padding: 5px 14px !important;
}
.navbar-transparent .navbar-nav > li + li {
    margin:0;
}
.navbar-nav {
    margin: 0 -15px;
}

.nav.navbar-nav a:hover {
    color: #000 !important;
}
.home_top {
    margin-top: 23px;
}
.carousel.slide::before,.carousel-caption{display:none;}
.s_b_stick {
    display: inline-block;
    width: 60%;
    z-index: 0;
	left:15px;
}
.s_b_stick img {
    display: inline-block;
    margin-left: -8px;
    margin-bottom: -5px;
    width: 50%;
	float:none;
}
.right.carousel-control > img,.left.carousel-control > img {
    position: absolute; 
    width: 50%;
}
.box_div,.home_two_box {margin-bottom: 20px;}
.box_div img {
    display: block;
    margin: 0 auto;
}
.two_box_img {float: none;}
.two_box_img > img {
    display: block;
    margin: 0 auto;
}
.home_two_text { 
    height: auto; 
}
.b_slogan {font-size: 55px;}
.h_3_title { 
    font-size: 26px; 
    margin-top: 20px;
}
.footer_menu > li { 
    width: 50%;
}
.footer_menu {
    display: inline-block;
    margin-bottom: 20px;
}
address p { 
    padding: 0;
}
.footer {
    background: #d6d6d6 none repeat scroll 0 0;
    padding-bottom: 10px;
    padding-top: 20px;
} 
.social img {
    margin-left: 16px;
    margin-top: 15px;
}
.social > a:nth-child(1) {
    margin-left: 0;
}



}


.breadcrumb li  a{
	text-transform:uppercase;
}
.img-lightbox img {
    margin: 0 auto 20px;
    max-height: 190px;
}
.basin_img img {
	float: left;
    max-height: 79px;
    margin-right: 10px;
    margin-bottom: 7px;
}
 